* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #FAF0E4;
}

.header {


    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #435B66;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


}


p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    text-shadow: 1px 1px 2px rgb(150, 149, 149);
    color: #fff;
}

.section {

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;

    margin-bottom: 20%;
    align-items: center;
 
padding-top: 13%;


}


input {
    width: 70vw;
    height: 6%;
    border-radius: 2rem;
    font-size: 16px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    border: none;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.sual {
    width: 90vw;

    border-radius: 0.5rem;
    font-size: 16px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    margin-bottom: 1.3rem;
    align-items: center;
    color: #435B66;
}

.sandiq-qpq {
    width: 75%;
    height: 5%;
    transition: 0.5s;
    font-size: 16px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    background-color: #817162;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: 1px solid white;
    margin-bottom: -13%;
    z-index: 1;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
 

}

.sandiq {
    width: 70%;
    height: 30%;
    border-radius: 0.5rem;
    font-size: 16px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    background-color: #A4907C;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 1.7rem;
    transition: 0.5s;
    border: 1px solid white;

}

button {
    width: 70vw;
    height: 6%;
    border-radius: 2rem;
    background-color: #435B66;
    color: white;
    font-size: 16px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
}

.sp1 {
    width: 1.3rem;
    height: 1.3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1.3rem;
    margin: auto;
    border: 1px solid white;
}

.sp2 {
    width: 1rem;
    height: 100%;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: auto;
}

a{
    display: none;
    text-decoration: none;
    color: #435B66;
    margin-top: -5%;
    margin-bottom: 5%;
    transition: 0.5s;
    cursor: pointer;
}
a:hover{
    opacity: 0.5;
}
